Techfix/Connected Services/ProcurementService/ProcurementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SubmitRFQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="specifications" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deliveryRequirements" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pricingFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentTerms" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="validityPeriod" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitRFQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitRFQResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitRFQSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitRFQ" />
  </wsdl:message>
  <wsdl:message name="SubmitRFQSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitRFQResponse" />
  </wsdl:message>
  <wsdl:portType name="ProcurementServiceSoap">
    <wsdl:operation name="SubmitRFQ">
      <wsdl:input message="tns:SubmitRFQSoapIn" />
      <wsdl:output message="tns:SubmitRFQSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcurementServiceSoap" type="tns:ProcurementServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitRFQ">
      <soap:operation soapAction="http://tempuri.org/SubmitRFQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProcurementServiceSoap12" type="tns:ProcurementServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitRFQ">
      <soap12:operation soapAction="http://tempuri.org/SubmitRFQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcurementService">
    <wsdl:port name="ProcurementServiceSoap" binding="tns:ProcurementServiceSoap">
      <soap:address location="http://localhost:56267/Services/ProcurementService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProcurementServiceSoap12" binding="tns:ProcurementServiceSoap12">
      <soap12:address location="http://localhost:56267/Services/ProcurementService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>